.headDiv {
    padding-top: 1rem;
    padding-left: 10rem;
}

.headDiv img {
    width: 8rem;
}

.mainDiv {
    display: flex;
    /* gap: 0.5rem; */
    justify-content: center;
}

.form {
    width: 45%;
    /* background-color: beige; */
}

.codeBlock textarea {
    height: 75vh;
    width: 95%;
    resize: none;
    border-radius: 0.4rem;
    padding: none;
    margin: none;
}

.fileName {
    /* margin-top: 0; */
    font-size: 1rem;

}

.output {
    width: 45%;
    display: flex;
    flex-direction: column;
    max-height: 70.1vh;
    margin-top: 5.3rem;
    border: 1px solid darkgray;
    border-radius: 0.4rem;
    overflow: scroll;
}

.output h4 {
    position: absolute;
    top: 8.1rem;
    font-size: 1rem;
}

.output p {
    padding: 8px;
}


.actions {
    width: 202%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.actions a {
    background-color: #F0F1F2;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    border: none;
    margin-bottom: 1rem;
    border: 1px solid #F0F1F2;
}

.langSelect:hover {
    cursor: pointer;
}

.runButton {
    padding: 0.6rem 1rem;
    margin-bottom: 1rem;
    border: none;
    background-color: #7aeb8d;
    border-radius: 4px;
    display: flex;
    align-items: center;
}

.runButton:hover {
    background-color: #7aeb8dc2;
    cursor: pointer;
}

.runButton span {
    margin-left: 8px;
}

.codeInput {
    /* border: 1px dotted black; */
    margin-right: 1rem;
    border-radius: 1rem;
}

.textCursor {
    color: #7aeb8d;
    width: 200%;
    font-weight: bold;
    background-color: black;
    opacity: 0.5;
    pointer-events: none;
    animation: blink 1s infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.accbody {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 90%;
    align-items: flex-start;
}

.accbody p {
    margin: 0;
    padding: 0;
}

.accbody button {
    border: none;
    /* background-color: #7aeb8d; */
    border-radius: 4px;
    display: flex;
    padding: 4px 16px;
    margin-bottom: 1rem;

}

.accbody button:hover {
    background-color: #E7F1FF;
    cursor: pointer;
}