@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&display=swap');


.main {
    width: 90%;
    height: 80vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    letter-spacing: 2px;
    background-color: #f0f4ff;
    margin-top: 6rem;
    box-sizing: border-box;
    border-radius: 40px;
}


.h1 {
    font-family: 'Mona-sans-black', serif;
    font-size: 32px;
    margin-bottom: 0;
    transition: all 0.2s ease;
    margin-top: -4rem;
}


.main p {
    padding: none;
    margin-bottom: 3rem;
}

.cta {
    flex: 0 0 auto;
    font-size: 22px;
    background-color: black;
    color: white;
    border: none;
    font-weight: bolder;
    border-radius: 8px;
    padding: 0.5rem 2rem;
    margin: 3rem;
    width: fit-content;
    height: 3rem;
    position: relative;
    border-radius: 4px;
    transition: 0.5s ease;
    margin-top: 12px;
    text-decoration: none;
}

.cta::after {
    content: '';
    border-radius: 4px;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: #00DBDE;
    background-image: linear-gradient(45deg, #00DBDE 0%, #FC00FF 100%);
    filter: blur(20px);
    transition: 0.2s ease;
    margin-left: -15.5rem;
    margin-top: 0;
}

.cta:hover {
    cursor: pointer;
    color: white;
}

.ctaWrap {
    transition: transform 0.4s ease-in-out;
}


.ctaWrap:hover {
    transform: scale(1.2);
}

.about{
    height: fit-content;
    width: 100%;
    display: flex;
    font-family: 'Mona-sans-black', serif;
    text-align: center;
    flex-direction: column;
    padding-bottom: 10rem;
}
.about img{
    margin: -10rem auto 0 auto;
    padding-left: 2rem;
}
.about h1{
    font-family:'Josefin Sans', sans-serif;
}

.logoname{
    color: #004AAD;
}

.about p{
    font-family:'Josefin Sans', sans-serif;
    font-weight: 400;
}