.main {
    width: 60%;
    height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    letter-spacing: 2px;
}

.main h1 {
    font-family: 'Mona-sans-black', serif;
    font-size: 44px;
    margin-bottom: 0;
}

.main p {
    padding: none;
}

.cta {
    flex: 0 0 auto;
    font-size: larger;
    background-color: black;
    color: white;
    border: none;
    font-weight: bolder;
    border-radius: 8px;
    padding: 0.5rem 2rem;
    margin: 2rem;
    width: fit-content;
    height: 45px;
    /* background-color: #00DBDE; */
    /* background-image: linear-gradient(45deg, #00DBDE 0%, #FC00FF 100%); */
    position: relative;
    border-radius: 4px;
    transition: 0.5s ease;
    margin-top: 12px;
}

.cta::after {
    content: '';
    border-radius: 4px;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: #00DBDE;
    background-image: linear-gradient(45deg, #00DBDE 0%, #FC00FF 100%);
    filter: blur(20px);
    transition: 0.2s ease;
    margin-left: -12rem;
    margin-top: 0;
}

.cta:hover {
    cursor: pointer;
}

.ctaWrap {
    transition: transform 0.2s ease-in-out;
}


.ctaWrap:hover {
    transform: scale(1.1);
}