.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 3rem;
    height: 1rem;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    font-size: 12px;
    letter-spacing: 2px;
    margin: auto;
    font-family: 'Gotham';
}

@font-face {
    font-family: 'Gotham';
    src: url('../../utils/fonts/Gotham-Light.otf');
}

.authItems {
    display: flex;
    list-style-type: none;
    width: 20%;
    justify-content: space-around;
    align-items: center;
}

.authItems span{
    text-align: center;
    margin-right: 0.5rem;
}

.authItems span img{
    width: 20px;
    height: 20px;
}
.authItems span img:hover{
    cursor: pointer;
}
.authItems a {
    padding: 0.5rem;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
    color: black;
}

.authItems a:nth-child(2):hover {
    background-color: #e2e2e2;
    border-radius: 0.4rem;
    cursor: pointer;
}

.authItems a:nth-child(3) {
    border: 1.5px solid #d1d1d1;
    border-radius: 0.4rem;
}

.authItems a:nth-child(3):hover {
    background-color: #e2e2e2;
    cursor: pointer;
}

.hamburger {
    display: none;
}

.dropdownSpace{
   font-weight: 700;
   font-size: 12px ;
   padding: 0.2rem 0.5rem 0.2rem 0.5rem ;
   border-radius: 20px ;
}

.dropdownSpace svg{
    font-size: 18px ;
    background-color: rgba(205, 205, 205, 0.36);
    border-radius: 100%;
    padding: 7px;
}

.dropdownSpace:hover{
    color: #094AAD;
    cursor: pointer;
    background-color: rgba(205, 205, 205, 0.72);
}

.dropdownOverlay{
    text-align: center;
}

@media (max-width: 480px){

    .header{
        width: 77%;
    }

    .header img{
        width: 6rem;
        margin-left: 0;
    }

    .hamburger{
        display: block;
    }

    .authItems {
        display: none;
    }
    
}