.main {
    width: 80%;
    margin: auto;
    height: 56vh;
    font-family: 'Avenir-book';
}

.h1 {
    margin-top: 14rem;
    font-size: 24px;
}

.main p {
    font-weight: bold;
    font-size: 12px;
    color: rgb(60, 60, 60);
    letter-spacing: 1px;
}

.socials {
    padding: 2rem;
    padding-left: 0;
    padding-top: 0;
}

.socials a {
    font-size: 1.5rem;
    color: black;
    padding-right: 1rem;
    color: rgb(60, 60, 60);
}

/* .socials a:hover{
    transform: scale(1.8);
} */